<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gamelabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="129,29">

  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gamelabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="299,99">

  </app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gamelabel="DIGITAL"
    gameType="DIGITAL | PS5 | PS4 | PS3"
    gamePrice="399,99">

  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gamelabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="199,99">

  </app-card>

</div>
